/**********************************TAG STYLES*************************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #347474;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #758184;
}

hr {
  border-style: dotted;
}

/**********************************CLASS STYLES*************************************/


.top-container {
  background-color: #347474;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-top: 20px;

}

.name {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: #a9fffd;
}

.job {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: #a9fffd;
}

.mid-container{


}

.bot-container{

}

.qa {
  width: 100%;
  height: 20%;

}

.avatar {
  width: 150px;
  height: 150px;
  margin-top: 40px;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.code {
  width: 14%;
  float: left;
  margin-right: 40px;
}

.bug-img {
  width: 14%;
  float: right;
  margin-left: 40px;
}

/**********************************ID STYLES*************************************/
