/**********************************TAG STYLES*************************************/
body {
  margin: 0;
  font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;

}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

/**********************************CLASS STYLES*************************************/


.top-container {
  background-color: #347474;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 10px;
}

.name {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: #a7e9af;
}

.job {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.mid-container{


}

.bot-container{

}

.qa {
  width: 100%;
  height: 20%;

}

.avatar {
  width: 150px;
  height: 150px;

}

/**********************************ID STYLES*************************************/
